## Задача 1 ##
### Подзадача 2 ###
На складе лежат разные фрукты в разном количестве. Написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def fruitsamount(**kwargs) -> int:
    sum = 0
    for k,v in kwargs.items():
        sum = sum + v
    return sum

In [2]:
fruitsamount(apple=2, banana=12, pear=9, peach=5)

28

### Подзадача 3 ###
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты. Используйте list comprehensions.

In [3]:
orig_prices = [-12, 100, 0, 125, -90, 0, 345, 655, -1, 0, 200]
prices = [i for i in orig_prices if i >= 0]
prices

[100, 0, 125, 0, 345, 655, 0, 200]

тернарный опреатор

In [13]:
prices = [None if i == 0 else i for i in prices]
prices

[100, None, 125, None, 345, 655, None, 200]

### Подзадача 4 ### 
Даны два списка: Дата покупки и Суммы покупок по датам

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [30]:
list1=['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
list2=[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
sum = 0
for i in range(len(list1)):
    proba = list1[i]
    month = proba[5:7]
    if int(month) == 11:
        sum = sum + list2[i]
print(sum)

25098

In [45]:
def monthprices(list1,list2):
    res = {}
    for i in range(len(list1)):
        if(not(list1[i][5:7] in res.keys())): res[list1[i][5:7]]=list2[i]
        else: res[list1[i][5:7]]=res[list1[i][5:7]]+list2[i]

    return res
    # for i in range(len(list1)):
    #     if(list1[i][5:7] in res.keys()): res.append(list1[i][5:7])
    # return res

In [46]:
list1=['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', 
       '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', 
       '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
       '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
       '2021-10-26', '2021-12-09']
list2=[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 
       6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
print(monthprices(list1,list2))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}